{% extends 'main.html' %}

{% block content %}

<h1>Hello Seller, {{request.user}}, your sold products are : </h1>
Order ID &emsp; &emsp; Bought by &emsp; &emsp; Phone &emsp; &emsp; Price &emsp; &emsp; Product-Name &emsp; &emsp; Time
&emsp; &emsp; Status
<br>

{% for o in orders %}
{{o.id}} &emsp; &emsp; {{o.bought_by}} &emsp; &emsp; {{o.bought_by.phone}} &emsp; &emsp; {{o.price}} &emsp; &emsp;
<a href="{% url 'view-product' o.product.id %}">{{o.product.product_name}}</a> &emsp; &emsp;
{{o.time}} &emsp; &emsp;
{% if o.completed %}
Done
{% else %}
Not Done
{% endif %}
&emsp; &emsp;

{% if not o.completed %}
<a href="{% url 'action' o.id %}">Action</a>
{% endif %}
<br>
{% endfor %}


{% endblock %}