<header class="headerWarp" role="banner" style="width: 100%;">
    <div class="brandInner" style="width: 100%;">
        <div class="logo">
            <a href="/" title="Home" rel="home" class="site-logo"><img style="height: 7rem;width: 7rem;"
                    src="https://scontent.fblr4-3.fna.fbcdn.net/v/t1.6435-9/87503689_111002383835295_3256861726187978752_n.png?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=joJoEuK2r7UAX-K5KK3&_nc_ht=scontent.fblr4-3.fna&oh=acac6bab4aed6333fb3268f1823145e0&oe=61D6BA2C"
                    alt="Home" /></a>
        </div>
        <div class="brandName">
            <div class="l-region l-region--branding">
                <div id="block-block-28" class="block block--block block--block-28">
                    <div class="block__content">
                        <h3 class="rtecenter"><span style="font-size:16px">Rashtreeya Sikshana Samithi
                                Trust</span></h3>
                        <h1 class="rtecenter"><span style="font-size:26px"><a href="/" title="Home">R V College
                                    of Engineering </a></span></h1>
                        <h6 class="rtecenter"><span style="font-size:12px">Autonomous Institution affiliated to
                                Visvesvaraya Technological University, Belagavi</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- MENU BAR -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 1000px;">
    <div class="container-fluid"> -->
<div class="container-fluid"
    style="display:inline-flex; float: right; padding: 10px; background-color:#27447E;width: 100%; margin-bottom: 20px; height:50px;">

    <a href="{% url 'home' %}"><button type="button" class="btn btn-light" id="navbarContent">HOME</button></a>
    {% if request.user.is_superuser %}
    <a href="{% url 'orders' %}"><button type="button" class="btn btn-light" id="navbarContent">Orders</button></a>
    {% endif %}

    {% if 'seller' not in request.path and not request.user.is_superuser %}
    <a href="{% url 'seller' %}"><button type="button" class="btn btn-light" id="navbarContent">Start
            Selling</button></a>
    {% endif %}
    {% if 'seller' in request.path %}
    <a href="{% url 'add-product' %}"><button type="button" class="btn btn-light" id="navbarContent">Add
            Products</button></a>
    {% endif %}

    <!-- SEARCH BAR -->

    <div class="container-fluid" style="margin-left: 200px; margin: right 250px;width: 650px; ">
        <form method="get" action="{% url 'home' %}" class="d-flex">
            <input name="q" class="form-control me-2" type="Search for Products..." placeholder="Search"
                aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>

    <!-- PROFILE IMAGE -->

    <!-- <img src="/profile-icon.png" alt="" style="padding-right: 15px; border-radius: 50%;"> -->

    <!-- DROPDOWN -->
    {% if request.user.is_authenticated  %}
    {% if not request.user.is_superuser %}
    <a href="{% url 'cart' %}"><button type="button" class="btn btn-light" id="navbarContent">My
            Cart</button></a>
    {% endif %}
    <div class="navbarDropdown">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.user.is_superuser  %}
                <!-- <img src="/profile-icon.png" alt="" style="height: 25px; width: 25px;">  -->
                Admin {{request.user.username}}
                {% else %}
                <!-- <img src="/profile-icon.png" alt="" style="height: 25px; width: 25px;">  -->
                {{request.user.username}}
                {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% if not request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'sold-products' %}">My Selling Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'buyer' %}">My Buying Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}">My Products</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <a href="{% url 'login' %}"><button class="btn btn-warning" type="submit"
            style="margin-right: 2%;">LOGIN</button></a>
    {% endif %}
</div>
<!-- </nav> -->

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>