{% extends 'main.html' %}

{% block content %}

<h2 class="text-center"style="background-color: green; color:white;">CHANGE PASSWORD</h2>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<h2 class="text-center"style="background-color: green; color:white;">Important: </h2>{% endif %}
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    <form method="post" class="pure-form">
        {% csrf_token %}
        <fieldset>

            <input type="password" placeholder="Password" name="p1" required>
            <input type="password" placeholder="Confirm Password" name="p2" required>

            <button type="submit" class="pure-button pure-button-primary">Confirm</button>
        </fieldset>
    </form>

</div>

{% endblock %}