{% extends 'main.html' %}

{% block content %}

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
</div>

<form method="post" class="pure-form">
    {% csrf_token %}
    <fieldset>
        <legend>Create new password</legend>

        <input type="password" placeholder="Password" name="p1" required>
        <input type="password" placeholder="Confirm Password" name="p2" required>

        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
</form>

{% endblock content %}